<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipster Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleIndex.css') }}">    
</head>
<body>
    <div class="header">
        <h1>Tipster Homepage</h1>
        <div class="buttons">
            <a id="loginBtn" class="login-btn" href="javascript:void(0)">Login</a>
        </div>
    </div>

    <div class="container mt-5">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="container">
        <div class="features">
            {% for user in tipster_users %}
            {% set index = loop.index0 %}  {# Ottieni l'indice corrente #}
            {% set profile_image = profile_images_list[index % profile_images_list|length] %}  {# Utilizza l'indice per ottenere l'immagine del profilo #}
            <div class="feature">
                <a href="#">
                    <img src="{{ url_for('static', filename='imageProfile/' + profile_image) }}" alt="Foto profilo di {{ user['name'] }}">
                    <h3>{{ user['name'] }}</h3>
                </a>
                <p>Username: {{ user['username'] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modale -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modalBody"></div>
        </div>
    </div>

    <script>
        document.getElementById('loginBtn').onclick = function() {
            document.getElementById('loginModal').style.display = "block";
            var loginUrl = "{{ url_for('Login') }}"; // Percorso al login generato da Flask
            fetch(loginUrl) 
                .then(response => response.text())
                .then(html => {
                    document.getElementById('modalBody').innerHTML = html;
                });
        }

        // Chiudi il modale
        document.querySelector('.close').onclick = function() {
            document.getElementById('loginModal').style.display = "none";
        }

        // Chiudi il modale quando clicchi fuori
        window.onclick = function(event) {
            if (event.target == document.getElementById('loginModal')) {
                document.getElementById('loginModal').style.display = "none";
            }
        }
    </script>
</body>
</html>
