<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo di {{ user['username'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profilo.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function verificaGiocata(cartId) {
            // Crea un array per contenere gli elementi della schedina
            let cartItems = [];

            // Seleziona tutte le righe della tabella nella schedina specifica
            document.querySelectorAll(`#schedina-${cartId} tbody tr`).forEach(function (row) {
                // Estrai e trimma i valori dalle celle della riga
                let matchId = row.querySelector('.match-id').innerText.trim();
                let oddType = row.querySelector('.odd-type').innerText.trim();

                // Aggiungi l'elemento alla lista degli oggetti della schedina
                cartItems.push({ matchId: matchId, oddType: oddType });
            });

            // Invia una richiesta POST al server per verificare la schedina
            fetch("/verifica_giocata", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ cartId: cartId, cartItems: cartItems }) // Include cartId e cartItems nel corpo
            })
                .then(response => response.json()) // Parsifica la risposta JSON
                .then(data => {
                    // Mostra i risultati della verifica in un alert
                    alert("Verifica completata:\n\n" + JSON.stringify(data, null, 2));
                })
                .catch(error => {
                    // Mostra un messaggio di errore in caso di problemi con la richiesta
                    alert("Errore durante la verifica.");
                });
        }

        function rimuoviSchedina(cartId) {
            // Trova l'elemento che contiene l'ID della schedina da rimuovere
            const schedinaElement = document.querySelector(`#schedina-${cartId}`);
            if (!schedinaElement) {
                alert("Schedina non trovata.");
                return;
            }

            // Ottieni il cart-id dalla schedina
            const cartIdElement = schedinaElement.querySelector('.cart-id');
            const idSchedina = cartIdElement ? cartIdElement.innerText.trim() : null;

            if (!idSchedina) {
                alert("ID schedina non trovato.");
                return;
            }

            fetch(`/rimuovi_schedina/${idSchedina}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Schedina rimossa con successo!");
                        document.getElementById(`schedina-${cartId}`).remove(); // Rimuove il div della schedina dalla pagina
                        aggiornaNumerazioneSchedine(); // Aggiorna la numerazione delle schedine

                    } else {
                        alert("Errore durante la rimozione della schedina.");
                    }
                })
                .catch(error => {
                    alert("Errore durante la rimozione della schedina.");
                });
        }

        function aggiornaNumerazioneSchedine() {
            const schedine = document.querySelectorAll('.schedina-group');
            schedine.forEach((schedina, index) => {
                const titolo = schedina.querySelector('h3');
                titolo.textContent = `Schedina ${index + 1}`;
                schedina.id = `schedina-${index + 1}`;
                const verificaButton = schedina.querySelector('.btn-primary');
                const rimuoviButton = schedina.querySelector('.btn-danger');
                verificaButton.setAttribute('onclick', `verificaGiocata(${index + 1})`);
                rimuoviButton.setAttribute('onclick', `rimuoviSchedina(${index + 1})`);
            });
        }

    </script>
</head>

<body>
    <div class="container">
        <!-- Div per le informazioni dell'utente -->
        <div class="user-info bg-light p-4 mb-4 rounded shadow-sm">
            <h1 class="display-4 mb-3">Profilo di {{ user["username"]}}</h1>
            <div class="row">
            </div>
        </div>

        <!-- Sezione Le tue Scommesse -->
        <div class="bg-white p-3 mb-3">
            <h2 class="mb-3">Le tue Scommesse</h2>

            {% if schedine %}
            {% for group in schedine %}
            <div class="schedina-group mb-4" id="schedina-{{ loop.index }}">
                <h3>Schedina {{ loop.index }}</h3>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Match ID</th>
                            <th>ID schedina</th>
                            <th>Competizione</th>
                            <th>Data</th>
                            <th>Casa</th>
                            <th>Trasferta</th>
                            <th>Esito Pronosticato</th>
                            <th>Quota Selezionata</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for scommessa in group %}
                        <tr>
                            <td class="match-id">{{ scommessa['match_id'] }}</td>
                            <td class="cart-id">{{ scommessa['cart_id'] }}</td>
                            <td>{{ scommessa['competition_name'] }}</td>
                            <td>{{ scommessa['date_start'] }}</td>
                            <td>{{ scommessa['home_team_name'] }}</td>
                            <td>{{ scommessa['away_team_name'] }}</td>
                            <td class="odd-type">{{ scommessa['odd_type'] }}</td>
                            <td>{{ scommessa['odd_value'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" onclick="verificaGiocata({{ loop.index }})">Verifica
                        Giocata</button>
                    <button type="button" class="btn btn-danger" onclick="rimuoviSchedina({{ loop.index }})">Rimuovi
                        Schedina</button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Nessuna schedina trovata.</p>
            {% endif %}
        </div>

        <!-- Link per tornare indietro o altre azioni -->
        <a href="{{ url_for('prova') }}" class="btn btn-primary mb-3">Torna alla Homepage</a>

    </div>
</body>

</html>